<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rudishaConfig">
            <h2><span>Rudisha Config</span> {{ rudishaConfig.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Key</span></dt>
                <dd>
                    <span>{{ rudishaConfig.key }}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{ rudishaConfig.value }}</span>
                </dd>
                <dt><span>Digest</span></dt>
                <dd>
                    <span>{{ rudishaConfig.digest }}</span>
                </dd>
                <dt><span>Last Updated On</span></dt>
                <dd>
                    <span>{{ rudishaConfig.lastUpdatedOn }}</span>
                </dd>
                <dt><span>Profile</span></dt>
                <dd>
                    <div *ngIf="rudishaConfig.profileId">
                        <a [routerLink]="['/profile', rudishaConfig.profileId, 'view']">{{ rudishaConfig.profileName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rudisha-config', rudishaConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
