<div>
    <h2 id="page-heading">
        <span>Profiles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profile" [routerLink]="['/profile/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Profile
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="profiles?.length === 0">
        <span>No profiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="profiles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col" ><span>Is Default</span></th>
                    <th scope="col" ><span>Module</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profile of profiles ;trackBy: trackId">
                    <td><a [routerLink]="['/profile', profile.id, 'view']">{{ profile.id }}</a></td>
                    <td>{{ profile.name }}</td>
                    <td>{{ profile.description }}</td>
                    <td>{{ profile.isDefault }}</td>
                    <td>
                        <div *ngIf="profile.moduleId">
                            <a [routerLink]="['/module', profile.moduleId , 'view']" >{{ profile.moduleName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/profile', profile.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/profile', profile.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(profile)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
